* {
    font-family: helvetica, Times, courier;
    background-color: #E3E1E1;
}

img {
    width: 100%;
}

header {
    border: solid #1DD2FF;
    line-height: 50%;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    background-image: url(../../indv-website/images/small/banner.jpg);
    background-repeat: repeat;
}

.logo {
    text-shadow: -0.75px -0.75px 0 #000,
    0.75px -0.75px 0 #000,
    -0.75px 0.75px 0 #000,
    0.75px 0.75px 0 #000;
}

p.slogan,
.logo,
header,
span.two {
    background-color: transparent;
}

h1,
#location,
#process,
#contact-us {
    color: #1DD2FF;
    text-align: center;
}

header a {
    text-decoration: none;
    color: #1DD2FF;
}

p.add-sum,
p.gift-info,
p.about-us-info,
p.deals-info,
p.trade-info,
p.return-info,
p.cart-info,
p.the-process-info,
p.game-info {
    text-align: center;
    font-size: 17px;
    color: black;
}

p.slogan {
    text-align: center;
    font-size: 17px;
    color: white;
    text-shadow: -0.75px -0.75px 0 #000,
    0.75px -0.75px 0 #000,
    -0.75px 0.75px 0 #000,
    0.75px 0.75px 0 #000;
}

p.add-sum,
p.gift-info,
p.points-sum {
    font-size: 17px;
    text-align: center;
}

span.old-price {
    color: #403C3B;
    text-decoration: line-through;
}

span.new-price,
span.red-points {
    color: #E50605;
}

span.two {
    color: white;
}

nav {
    background-color: #333;
    border: solid grey;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    float: left;
    background-color: #333;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #333;
}

li a:hover {
    background-color: #1DD2FF;

}

li.cart,
li.cit-links,
li.search,
li.about-us {
    float: right;
}

.active {
    background-color: #1DD2FF;
    color: white;
}

input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 15px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
}

header {
    order: 0;
    width: 33%;
}

nav {
    width: 66%;
    height: 50%;
}

div.deals-aside {
    width: 34%;
    height: 1711px;
}

div.catagories-info {
    width: 13%;
}

div.home-aside {
    width: 66%;
}

div.games-table,
div.trades-table,
div.deals-table {
    width: 86%;
    padding: 5px;
    height: 1391px;

}

div.about-us-div {
    height: 750px;
    flex-wrap: wrap;
}

div.shopping-cart-info,
div.games-ideas-info,
div.gifts-info,
div.return-info-div,
div.points-info,
div.about-us-div,
div.deal-info,
div.the-process-info-div,
div.contact-us-info-div {
    text-align: center;
    width: 100%;
}

caption.latest {
    padding-bottom: 15px;
}

span.gamers,
h3.deals,
h3.games,
h3#location,
h3.catagories,
h1 {
    color: #1DD2FF;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

table,
th,
td {
    border-style: groove;
    border-width: 2px;
    border-color: #1DD2FF;
    padding: 5px;
    word-wrap: break-word
}

table.game-list {

    border-style: groove;
    border-width: 2px;
    border-color: #1DD2FF;
}

th.game,
td.game {
    padding: 15px;
    text-align: center;
}

footer {
    border-top: solid #1DD2FF;
    color: black;
    position: fixed;
    bottom: -2px;
    left: 0;
    width: 100%;
    font-size: 12px;
    height: 5%;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

footer ul li {
    float: left;
}

footer li a,
footer li.follow-us {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #333;
}

footer li a:hover {
    background-color: #1DD2FF;
    color: white;
}

@media screen and (min-width: 827px) and (max-width: 1211px) {
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 100%;
    }

    header {
        width: 100%;
        background-image: url(../../indv-website/images/small/banner.jpg);
        background-repeat: repeat;
    }

    nav {
        height: 50%;
        width: 100%;
    }

    footer {
        height: 7%;
        width: 100%;
    }

    div.home-aside {
        order: 1;
        width: 100%;
    }

    div.deals-aside {
        order: 2;
        width: 100%;
    }

    div.catagories-info {
        order: 2;
        width: 100%;
        height: 501px;
    }

    div.games-table {
        order: 1;
        width: 100%;
        height: 1378px;

    }

    div.deals-table,
    div.trades-table {
        order: 1;
        width: 100%;
        height: 854px;
    }

    li.cart,
    li.cit-links,
    li.search {
        float: right;
    }

    li.about-us {
        float: right;
    }

    div.game-list-div {
        overflow-y: auto;
        width: 100%;
    }

    div.about-us-div {
        height: 916px;
    }
    div.deal-info {
        height: 400px;
    }

    div.points-info {
        height: 320px;
    }
    div.the-process-info-div {
        height: 319px;
    }
    div.deals-aside {
        height: 1720px;
    }

    div.home-aside {
        text-align: center;
    }

    div.return-info-div {
        height: 337px;
    }

    iframe {
        width: 100%;
        height: auto;
    }

}

@media screen and (max-width: 826px) {
    img {
        width: 100%;
    }

    .input[type=text] {
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
    }

    input[type=text] {
        border: 1px solid #ccc;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 100%;
    }

    header {
        width: 100%;
        background-image: url(../../indv-website/images/small/banner.jpg);
        background-repeat: repeat;
    }

    nav {
        height: 50%;
        width: 100%;
    }

    footer {
        height: 7%;
        width: 100%;
    }

    div.home-aside {
        order: 1;
        width: 100%;
    }

    div.deals-aside {
        order: 2;
        width: 100%;
    }

    div.catagories-info {
        order: 2;
        width: 100%;
        height: 501px;
    }

    div.games-table {
        order: 1;
        width: 100%;
        height: 1378px;

    }

    div.deals-table,
    div.trades-table {
        order: 1;
        width: 100%;
        height: 854px;
    }

    li.cart,
    li.cit-links,
    li.search {
        float: left;
    }

    li.about-us {
        float: right;
    }

    div.game-list-div {
        overflow-y: auto;
        width: 100%;
    }

    div.about-us-div {
        height: 916px;
    }
    div.deal-info {
        height: 400px;
    }

    div.points-info {
        height: 320px;
    }
    div.the-process-info-div {
        height: 319px;
    }
    div.deals-aside {
        height: 1500px;
    }

    div.home-aside {
        text-align: center;
    }

    div.return-info-div {
        height: 337px;
    }

    iframe {
        width: 100%;
        height: auto;
    }

}
