* {
    font-family: helvetica, Times, courier;
    background-color: #E3E1E1;
}



header {
    border: solid;
    line-height: 50%;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

h1,
#location,
#process,
#contact-us {
    color: #1DD2FF;
    text-align: center;
}

p.slogan,
p.add-sum,
p.gift-info,
p.about-us-info,
p.deals-info,
p.trade-info,
p.return-info,
p.cart-info {
    text-align: center;
    font-size: 17px;
}

p.add-sum,
p.gift-info,
p.points-sum {
    font-size: 17px;
    text-align: center;
}

span.old-price {
    color: #403C3B;
    text-decoration: line-through;
}

span.new-price,
span.red-points {
    color: #E50605;
}

span.two {
    color: #373D2F;
}

nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    float: left;
    background-color: #333;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #333;
}

li a:hover {
    background-color: #1DD2FF;

}

li.cart,
li.cit-links,
li.search {
    float: right;
}

input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 15px;
}

@media screen and (max-width: 600px) {
    nav,
    .input[type=text] {
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 10px;
    }
    
    input[type=text] {
        border: 1px solid #ccc;
    }
}

.grid-container {
    display: grid; padding: 0px;
}

header {
    grid-column: 1; grid-row: 1;
    height: 83px;
    
}

nav {
    grid-column: 2; grid-row: 1;
    height: 50%;
    width: auto;
}  

div.deals-aside {
    grid-column: 1; grid-row: 2;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 15px;
    height: 850px;
}

div.catagories-info {
    grid-column: 1; grid-row: 2;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 15px;
    width: 135px;
}

div.home-aside,
div.games-table {
    grid-column: 2; grid-row: 2;
}

footer {
    grid-column: 1 / span 2; grid-row: 3;  
}

div.shopping-cart-info,
div.games-ideas-info,
div.gifts-info,
div.return-info-div,
div.points-info,
div.about-us-div {
    grid-column: 1 /span 2; grid-row: 2;
}

.deals-div,
.catagories-div {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

caption.latest {
    padding-bottom: 15px;
}

span.gamers,
h3.deals,
h3.games {
    color: #1DD2FF;
}

table,
th,
td {
    border-style: groove;
    border-width: 1px;
    border-color: #1DD2FF;
    padding: 5px;
    word-wrap: break-word
}

table.game-list {

    border-style: groove;
    border-width: 1px;
    border-color: #1DD2FF;
    padding-bottom: 100px;
}

th.game,
td.game {
    padding: 15px;
    text-align: center;
}

footer {
    border-top: solid thin black;
    color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 12px;
    height: 5%;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

footer ul li {
    float: left;
}

footer li a,
footer li.follow-us {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #333;
}

footer li a:hover {
    background-color: #1DD2FF;
    color: white;
}